<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.just.fast">

  <!-- 网络 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- 文件系统 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <!-- 录音 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <!-- 日历 -->
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <!-- 联系人 -->
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
    android:name=".base.FastApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity android:name=".module.main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".module.launch.StartFromBrowserActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="justdo23"
          android:scheme="chai" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="just" />
      </intent-filter>
    </activity>

    <activity android:name=".module.media.SurfaceMediaActivity" />
    <!-- 文件路径及操作 -->
    <activity android:name=".module.file.FileActivity" />
    <activity android:name=".module.file.MonitorExternalStorageActivity" />
    <activity android:name=".module.file.PicToExternalStorageActivity" />
    <activity android:name=".module.file.FileInternalActivity" />
    <!-- 流利说文件下载 -->
    <activity android:name=".module.download.TasksIndexActivity" />
    <activity android:name=".module.download.TasksManagerActivity" />
    <!-- vector -->
    <activity android:name=".module.vector.VectorActivity" />
    <activity android:name=".module.vector.VectorDrawActivity" />
    <activity android:name=".module.custom.CustomLayoutActivity" />
    <activity android:name=".module.vector.VectorAnimActivity" />
    <!-- 录音 -->
    <activity android:name=".module.recorder.MediaRecorderAudioActivity" />
    <!-- MP Chart -->
    <activity android:name=".module.chart.LineChartActivity" />
    <activity android:name=".module.chart.ChartListActivity" />
    <!-- 内容提供者 -->
    <activity android:name=".module.contentprovider.ContentProviderActivity" />
    <!-- Ali VLayout -->
    <activity android:name=".module.vlayout.VirtualLayoutActivity" />
    <!-- Calendar -->
    <activity android:name=".module.calendar.CalendarActivity" />
    <activity android:name=".module.calendar.OfficialCalendarActivity" />
    <activity android:name=".module.calendar.LoadersActivity" />
    <!-- Widget -->
    <activity android:name=".module.widget.WebViewActivity" />
    <activity android:name=".module.widget.EmptyRecyclerViewActivity" />
    <activity android:name=".module.widget.ViewStubActivity" />

    <receiver
      android:name=".module.broadcast.CustomReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="com.just.first.CUSTOM" />
      </intent-filter>
    </receiver>

    <activity android:name=".module.widget.LayoutTagActivity" />
    <activity android:name=".module.table.TableLayoutOneActivity" />
    <activity android:name=".module.view.LinearGradientActivity" />
    <activity android:name=".module.animation.AnimationLearnActivity" />
    <!-- 约束布局 -->
    <activity android:name=".module.layout.ConstraintLayoutActivity" />
    <!-- 回弹 ScrollView -->
    <activity android:name=".module.view.ReboundScrollViewActivity" />
  </application>

</manifest>